<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Sofia" rel='stylesheet'>
    </head>
    <body style="background-image: url('')">
    <div style="padding:30px">
      <div style="text-align:center" id="aossie-block">
        <span style="font-size:25px; font-family: initial" >
          Register To <span style="color:green">Aossie</span> <span style="color: yellow">Scholar</span>
        </span>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 50px">
          <form method="post" onsubmit="return remove()">
            <div id ="me">
            {% csrf_token %}
            {% for field in indexform %}
              <div class="fieldWrapper" >
                  {{ field.errors }}
                  {{ field.label_tag }}
                  <div style ="text-align: center">
                  {{ field }}
                  </div>
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
              </div>
            {% endfor %}
            <br>
            <div style="text-align:center">
              <button type="submit" class="btn btn-success" id="register-btn" style="width:80%" >Register</button>
            </div>
          </form>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 50px">

     <div  role="status" style="display: none;" id="spinner">
        <img src="https://i.ya-webdesign.com/images/minimalist-transparent-loading-gif-9.gif" width="250px" ></div>
      </div>
    </div>

    <script type="text/javascript">
      function remove(){
        document.getElementById("spinner").style.display = "block";
        document.getElementById("me").style.display = "none";
        document.getElementById("aossie-block").style.display = "none";
        return true;
      }
    </script>
    </body>
  </html>
